$mainfont: "Roboto", sans-serif;
$secondaryfont: "Raleway", sans-serif;

$primery-text-color: #212121;
$secondary-text-color: #757575;
$light-text-color: #ffffff;
$footer-mail-phone-color: rgba(255, 255, 255, 0.6);

$primery-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;

$hero-footer-bg-color: #2f303a;
$accent-color: #2196f3;
$hero-btn-accent-color: #188ce8;
